body{
    background: fixed;
    font: normal 15pt Arial;
    background-image: url(./pexels-black-ice-1314536.jpg);
    background-repeat: no-repeat;
    background-size: 100rem;
}

header {
    color: rgb(16, 121, 139);
    text-align: center;
}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

select#flista {
    width: 150px;
    margin-top: 1rem;
}

#fnum {
    background: whitesmoke;
}

#flista {
    background: whitesmoke;
}

footer {
    color: rgb(16, 121, 139);
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 768px) {
    body{
        background-size: cover;
    }
    
    section{
        width: fit-content;
    }
    
}